extends layout

block content
    .container
        form.form-register(method='POST', action='/users/register')
            h2.form-register-heading Register
            #form-group
                //- label Name:
                input.form-control(name='name', placeholder='Name', type='text')
            #form-group
                //- label Email:
                input.form-control(name='email', placeholder='Email Address', type='text')
            #form-group
                //- label Username:
                input.form-control(name='username', placeholder='Username', type='text')
            #form-group
                //- label Password:
                input.form-control(name='password', placeholder='Password', type='password')
            #form-group
                //- label Confirm Password:
                input.form-control(name='password2', placeholder='Confirm Password', type='password')
            hr
            input.btn.btn-primary.btn-block(type='submit', value='Submit')
